<app-content-header icon="work" headerTitle="Portfolio" desc="I hope you like my work and my work speaks for me."></app-content-header>

<div class="container p-3">
    <div fxLayout="row wrap" fxLayoutAlign="center center">        
        <div fxFlex="100" fxFlex.gt-md="85" fxFlex.md="90">            
            <div class="text-center p-3">
                <button mat-raised-button color="accent" class="mr-1" ngClass.xs="mb-1" (click)="filter = 'all'">All</button>
                <button mat-raised-button color="accent" class="mr-1" ngClass.xs="mb-1" (click)="filter = 'code'">Code</button>
                <button mat-raised-button color="accent" class="mr-1" ngClass.xs="mb-1" (click)="filter = 'design'">Design</button>
                <button mat-raised-button color="accent" class="mr-1" ngClass.xs="mb-1" (click)="filter = 'photo'">Photo</button>
            </div>
            <div fxLayout="row wrap" fxLayoutAlign="center center" class="gallery">
                <div *ngFor="let item of items; let last=last;" fxFlex="100" fxFlex.gt-sm="33.3" fxFlex.sm="50" class="gallery-item all p-3" [ngClass]="item.type">
                    <div class="gallery-item-wrapper" [class.last]="last">
                        <mat-card fxLayout="column" fxLayoutAlign="center center">            
                            <app-image-loader [src]="item.src" [class]="'mat-card-image'"></app-image-loader>
                            <h4 class="secondary-text-color">{{item.name}}</h4>
                            <div fxLayoutAlign="center center" class="controls transition">
                                <button mat-icon-button (click)="openItemDialog(item)" class="mx-2"><mat-icon class="mat-icon-lg">remove_red_eye</mat-icon></button>
                                <a mat-icon-button href="https://www.templatemonster.com/authors/theme_season/" target="_blank" class="mx-2"><mat-icon class="mat-icon-lg">link</mat-icon></a>
                            </div>    
                        </mat-card>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>