<app-content-header
  [image]="aboutData.imageUrl"
  [headerTitle]="aboutData.firstName + ' ' + aboutData.lastName"
  [desc]="aboutData.teaser"
></app-content-header>

<div class="container p-3">
  <div fxLayout="row wrap" fxLayoutAlign="center center">
    <div fxFlex="100" fxFlex.gt-md="85" fxFlex.md="90" class="p-3">
      <mat-card>
        <div fxLayout="row wrap">
          <div fxFlex="100" class="text-center mb-2">
            <button mat-icon-button matTooltip="LinkedIn" matTooltipPosition="above" class="mx-1">
              <svg class="mat-icon social-icon transition" viewBox="0 0 24 24">
                <path
                  d="M21,21H17V14.25C17,13.19 15.81,12.31 14.75,12.31C13.69,12.31 13,13.19 13,14.25V21H9V9H13V11C13.66,9.93 15.36,9.24 16.5,9.24C19,9.24 21,11.28 21,13.75V21M7,21H3V9H7V21M5,3A2,2 0 0,1 7,5A2,2 0 0,1 5,7A2,2 0 0,1 3,5A2,2 0 0,1 5,3Z"
                />
              </svg>
            </button>
            <button mat-icon-button matTooltip="XING" matTooltipPosition="above" class="mx-1">
              <svg class="mat-icon social-icon transition" viewBox="0 0 24 24">
                <path
                  d="M21,21H17V14.25C17,13.19 15.81,12.31 14.75,12.31C13.69,12.31 13,13.19 13,14.25V21H9V9H13V11C13.66,9.93 15.36,9.24 16.5,9.24C19,9.24 21,11.28 21,13.75V21M7,21H3V9H7V21M5,3A2,2 0 0,1 7,5A2,2 0 0,1 5,7A2,2 0 0,1 3,5A2,2 0 0,1 5,3Z"
                />
              </svg>
            </button>
            <button mat-icon-button matTooltip="GitHub" matTooltipPosition="above" class="mx-1">
              <svg class="mat-icon social-icon transition" viewBox="0 0 24 24">
                <path
                  d="M21,21H17V14.25C17,13.19 15.81,12.31 14.75,12.31C13.69,12.31 13,13.19 13,14.25V21H9V9H13V11C13.66,9.93 15.36,9.24 16.5,9.24C19,9.24 21,11.28 21,13.75V21M7,21H3V9H7V21M5,3A2,2 0 0,1 7,5A2,2 0 0,1 5,7A2,2 0 0,1 3,5A2,2 0 0,1 5,3Z"
                />
              </svg>
            </button>
          </div>
          <div fxFlex="100" fxFlex.gt-sm="50" class="">
            <mat-list class="about-list">
              <mat-list-item>
                <div mat-line>
                  <span class="list-title">full name:</span>
                  <span class="secondary-text-color">{{aboutData.firstName + ' ' + aboutData.lastName}}</span>
                </div>
              </mat-list-item>
              <mat-list-item>
                <div mat-line>
                  <span class="list-title">birthday:</span>
                  <span class="secondary-text-color">{{aboutData.birthday}}</span>
                </div>
              </mat-list-item>
              <mat-list-item>
                <div mat-line>
                  <span class="list-title">nationality:</span>
                  <span class="secondary-text-color">{{aboutData.nationality}}</span>
                </div>
              </mat-list-item>
            </mat-list>
          </div>
          <div fxFlex="100" fxFlex.gt-sm="50" class="">
            <mat-list class="about-list">
              <mat-list-item>
                <div mat-line>
                  <span class="list-title">born:</span>
                  <span class="secondary-text-color">{{aboutData.birthplace}}</span>
                </div>
              </mat-list-item>
              <mat-list-item>
                <div mat-line>
                  <span class="list-title">address:</span>
                  <span class="secondary-text-color">{{aboutData.address}}</span>
                </div>
              </mat-list-item>
            </mat-list>
          </div>
          <div fxFlex="100" class="text-center mt-2">
            <button mat-raised-button color="accent" class="m-2">Download CV</button>
          </div>
        </div>
      </mat-card>
    </div>
  </div>
</div>
