<div class="close-btn-outer">
    <button mat-mini-fab color="warn" (click)="close()"><mat-icon>close</mat-icon></button>
</div>
<div mat-dialog-content [perfectScrollbar]="">
    <div class="">
        <img [src]="item.src" alt="image"  class="transition mw-100 mat-elevation-z1 mb-3">
        <h3 class="uppercase">{{item.name}}</h3>
        <p class="cat">{{item.type}}</p>
        <div class="secondary-text-color fs-14 lh-2">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc feugiat interdum faucibus. Vestibulum congue posuere velit, ac mollis tellus pulvinar vel. Aliquam convallis odio non mauris interdum, et sagittis ipsum vulputate. Fusce blandit ligula pretium neque luctus, ut cursus mi sagittis. Pellentesque tincidunt sed tellus vitae mollis. Maecenas a tristique tortor, id placerat risus. Donec sed congue diam, et convallis neque. Etiam ac pharetra odio. Aenean in mi id ante aliquam laoreet.
          </p>
          <p>
            Fusce condimentum leo eget felis vestibulum, quis aliquam diam dapibus. Ut quis mauris et erat eleifend molestie. Sed congue diam tristique lobortis iaculis. Aenean vel ligula vitae lectus aliquam efficitur eu ac lectus. Pellentesque non arcu ac risus condimentum porta eu sed ante. Vestibulum gravida in odio ut viverra. Vivamus tincidunt nisl rutrum bibendum malesuada. Phasellus vel varius lectus, et rhoncus velit. Cras sed nulla vitae risus tempor facilisis at et ipsum. Curabitur dignissim tempor massa id dictum.
          </p>
          <ul class="px-5 mb-3">
            <li>Cras interdum nisi quis augue venenatis, a venenatis mauris maximus.</li>
            <li>Donec elementum nunc eget lacinia auctor.</li>
            <li>Morbi rhoncus nibh id nisl sagittis tincidunt.</li>
            <li>Vestibulum at quam interdum, pulvinar elit et, condimentum ligula.</li>
            <li>Integer ac est euismod, aliquam neque id, lobortis nulla.</li>
          </ul>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc feugiat interdum faucibus. Vestibulum congue posuere velit, ac mollis tellus pulvinar vel. Aliquam convallis odio non mauris interdum, et sagittis ipsum vulputate. Fusce blandit ligula pretium neque luctus, ut cursus mi sagittis. Pellentesque tincidunt sed tellus vitae mollis. Maecenas a tristique tortor, id placerat risus. Donec sed congue diam, et convallis neque. Etiam ac pharetra odio. Aenean in mi id ante aliquam laoreet.
          </p>
        </div>
        <div fxLayoutAlign="end center">                 
            <button [mat-dialog-close]="item" mat-icon-button matTooltip="View full project"><mat-icon>arrow_forward</mat-icon></button>               
        </div> 
    </div>
</div>
