<div fxLayout='row wrap'>
  <h2 class='testimonials-title mb-2 mt-5'>Clent Testimonials</h2>
  <div fxFlex='100'>
    <div class='testimonials swiper-container' [swiper]='config'>
      <div class='swiper-wrapper'>
        <div *ngFor='let testimonial of testimonials' class='swiper-slide'>
          <mat-card class='item'>
            <img [src]='testimonial.image' alt='image' class='mat-elevation-z2'>
            <p class='text secondary-text-color mt-2'>"{{testimonial.text}}"</p>
            <h4 class='secondary-text-color'> - {{testimonial.author}}, {{testimonial.company}}</h4>
          </mat-card>
        </div>
      </div>
    </div>
  </div>
</div>
