<div class='intro'>
  <div class='container p-3'>
    <div fxLayout='row wrap' fxLayoutAlign='center center'>
      <div fxFlex='100' fxFlex.gt-md='85' fxFlex.md='90'>
        <div fxLayout='row wrap' fxLayoutAlign='center center'>
          <div fxFlex='100' class='p-3'>
            <div class='logo'>ASTERA</div>
            <h1 class='title mb-4'>Angular Material Design Resume, CV and Portfolio</h1>
            <div class='desc mb-3' ngClass.gt-md='desc-p'>ASTERA created for Professionals. Elegant
              Angular Material Design and exclusive features makes it unique and extremely useful
              for almost all professions. Just Push your Fantasy, combine different blocks and get
              maximum from this flexible Theme.
            </div>
          </div>
          <div fxFlex='100' fxFlex.gt-xs='50' class='p-3'>
            <a routerLink='/about' (click)="getDemo('indigo-light')">
              <mat-card fxLayout='column' fxLayoutAlign='center center' class='p-2'>
                <app-image-loader [src]="'assets/img/landing/indigo-light.jpg'"
                                  [class]="'mat-elevation-z2 mw-100'"></app-image-loader>
                <h4 class='demo-title my-3'>Indigo / Light</h4>
                <h2 class='live-demo'>Live Demo</h2>
              </mat-card>
            </a>
          </div>
          <div fxFlex='100' fxFlex.gt-xs='50' class='p-3'>
            <a routerLink='/about' (click)="getDemo('blue-dark')">
              <mat-card fxLayout='column' fxLayoutAlign='center center' class='p-2'>
                <app-image-loader [src]="'assets/img/landing/blue-dark.jpg'"
                                  [class]="'mat-elevation-z2 mw-100'"></app-image-loader>
                <h4 class='demo-title my-3'>Blue / Dark</h4>
                <h2 class='live-demo'>Live Demo</h2>
              </mat-card>
            </a>
          </div>
          <div fxFlex='100' fxFlex.gt-xs='50' class='p-3'>
            <a routerLink='/about' (click)="getDemo('teal-light')">
              <mat-card fxLayout='column' fxLayoutAlign='center center' class='p-2'>
                <app-image-loader [src]="'assets/img/landing/teal-light.jpg'"
                                  [class]="'mat-elevation-z2 mw-100'"></app-image-loader>
                <h4 class='demo-title my-3'>Teal / Light</h4>
                <h2 class='live-demo'>Live Demo</h2>
              </mat-card>
            </a>
          </div>
          <div fxFlex='100' fxFlex.gt-xs='50' class='p-3'>
            <a routerLink='/about' (click)="getDemo('green-dark')">
              <mat-card fxLayout='column' fxLayoutAlign='center center' class='p-2'>
                <app-image-loader [src]="'assets/img/landing/green-dark.jpg'"
                                  [class]="'mat-elevation-z2 mw-100'"></app-image-loader>
                <h4 class='demo-title my-3'>Green / Dark</h4>
                <h2 class='live-demo'>Live Demo</h2>
              </mat-card>
            </a>
          </div>
          <div fxFlex='100' fxFlex.gt-xs='50' class='p-3'>
            <a routerLink='/about' (click)="getDemo('red-light')">
              <mat-card fxLayout='column' fxLayoutAlign='center center' class='p-2'>
                <app-image-loader [src]="'assets/img/landing/red-light.jpg'"
                                  [class]="'mat-elevation-z2 mw-100'"></app-image-loader>
                <h4 class='demo-title my-3'>Red / Light</h4>
                <h2 class='live-demo'>Live Demo</h2>
              </mat-card>
            </a>
          </div>
          <div fxFlex='100' fxFlex.gt-xs='50' class='p-3'>
            <a routerLink='/about' (click)="getDemo('pink-dark')">
              <mat-card fxLayout='column' fxLayoutAlign='center center' class='p-2'>
                <app-image-loader [src]="'assets/img/landing/pink-dark.jpg'"
                                  [class]="'mat-elevation-z2 mw-100'"></app-image-loader>
                <h4 class='demo-title my-3'>Pink / Dark</h4>
                <h2 class='live-demo'>Live Demo</h2>
              </mat-card>
            </a>
          </div>
          <div fxFlex='100' fxFlex.gt-xs='50' class='p-3'>
            <a routerLink='/about' (click)="getDemo('grey-light')">
              <mat-card fxLayout='column' fxLayoutAlign='center center' class='p-2'>
                <app-image-loader [src]="'assets/img/landing/grey-light.jpg'"
                                  [class]="'mat-elevation-z2 mw-100'"></app-image-loader>
                <h4 class='demo-title my-3'>Grey / Light</h4>
                <h2 class='live-demo'>Live Demo</h2>
              </mat-card>
            </a>
          </div>
          <div fxFlex='100' fxFlex.gt-xs='50' class='p-3'>
            <a routerLink='/about' (click)="getDemo('amber-dark')">
              <mat-card fxLayout='column' fxLayoutAlign='center center' class='p-2'>
                <app-image-loader [src]="'assets/img/landing/amber-dark.jpg'"
                                  [class]="'mat-elevation-z2 mw-100'"></app-image-loader>
                <h4 class='demo-title my-3'>Amber / Dark</h4>
                <h2 class='live-demo'>Live Demo</h2>
              </mat-card>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
